@font-face {
    font-family: 'Yzone';
    src: url('fonts/Yzone.ttf?lz5b9x') format('truetype'),
        url('fonts/Yzone.woff?lz5b9x') format('woff'),
        url('fonts/Yzone.svg?lz5b9x#Yzone') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Yzone' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dragger-empty:before {
    content: '\e90d';
}
.icon-search-empty:before {
    content: '\e913';
}
.icon-noplus:before {
    content: '\e91b';
}
.icon-canminus:before {
    content: '\e91c';
}
.icon-canplus:before {
    content: '\e91d';
}
.icon-clear:before {
    content: '\e900';
}
.icon-addMore:before {
    content: '\e901';
}
.icon-downArr:before {
    content: '\e902';
}
.icon-close:before {
    content: '\e903';
}
.icon-default_pic:before {
    content: '\e904';
}
.icon-edit:before {
    content: '\e905';
}
.icon-pencil:before {
    content: '\e906';
}
.icon-copy:before {
    content: '\e907';
}
.icon-crash:before {
    content: '\e908';
}
.icon-uniE909:before {
    content: '\e909';
}
.icon-uniE90A:before {
    content: '\e90a';
}
.icon-yyzone:before {
    content: '\e90b';
}
.icon-eye:before {
    content: '\e90c';
}
.icon-right-arrow:before {
    content: '\e90e';
}
.icon-collect:before {
    content: '\e911';
}
.icon-remove:before {
    content: '\e912';
}
.icon-up:before {
    content: '\e914';
}
.icon-down:before {
    content: '\e915';
}
